<h2>About Me</h2>
<p>I live my life with dedication and I study computer science.</p>

<h2>Projects</h2>
Here are some of my projects:
<ul>
  <li>Mobile Rebuild for NUS Learning Management System <br> <a href="https://github.com/fluminus/fluminus_app">Repository</a></li>
  <li>Decentralized Authorizaiton Service <br> <a href="https://github.com/disc-o/disco_app">Repository</a></li>
</ul>

<p>For more information about me, please take a look at websites listed below.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/le0tan">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://www.comp.nus.edu.sg/~yuanhong/Tan_Yuanhong_s_Resume.pdf">Resume</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://www.linkedin.com/in/tan-yuanhong/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-rss fa-lg main-list-item-icon"></span>
    <a href="https://medium.com/@leotan.yh">Blog</a>
  </li>
</ul>
